body {
  background-color: #0f0f0f;
}
h1 {
  display: none;
}

audio {
  display: none;
}

#controls {
  bottom: 10vh;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
}

#controls > button {
  background-color: #0f0f0f;
  color: transparent;
  display: block;
  padding: 0;
  font-size: 1em;
}

button:focus {
  outline: none;
}

#button-play {
  border-left: 4vw solid #cc00cc;
  border-right: 4vw solid #cc00cc;
  border-bottom: 0;
  border-top:  0;
  grid-column: 5;
  grid-row: 3;
  height: 3em;
  margin-right: 0.5em;
  width: 10vw;
}

#button-play.paused {
  border-left: 10vw solid #cc00cc;
  border-right: 0;
  border-bottom: 1.5em solid transparent;
  border-top:  1.5em solid transparent;
  height: 0;
  width: 0;
}


#button-stop {
  border: 3px solid #cc00cc;
  height: 3em;
  grid-column: 4;
  grid-row: 3;
  width: 3em;
}

#button-volume-up {
  border: none;
  color: #cc00cc !important;
  font-size: 3.5em !important;
  grid-column: 5;
  grid-row: 1;
}

#button-volume-down {
  border: none;
  color: #cc00cc !important;
  font-size: 3.5em !important;
  grid-column: 4;
  grid-row: 1;
}

#button-up {
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 2.5em solid #cc00cc;
  border-top: 0;
  grid-column: 2;
  grid-row: 1;
  height: 0;
  margin-top: 1em;
  width: 0;
}


#button-down {
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-bottom: 0;
  border-top:  2.5em solid #cc00cc;
  grid-column: 2;
  grid-row: 3;
  height: 0;
  margin-bottom: 1em;
  width: 0;
}

#button-left {
  border-left: 0;
  border-right: 2.5em solid #cc00cc;
  border-bottom: 2em solid transparent;
  border-top:  2em solid transparent;
  grid-column: 1;
  grid-row: 2;
  height: 0;
  margin-left: 1em;
  width: 0;
}

#button-right {
  border-left: 2.5em solid #cc00cc;
  border-right: 0;
  border-bottom: 2em solid transparent;
  border-top:  2em solid transparent;
  grid-column: 3;
  grid-row: 2;
  height: 0;
  margin-right: 1em;
  width: 0;
}

#button-select {
  border: 3px solid #cc00cc;
  border-radius: 50%;
  height: 4em;
  grid-column: 2;
  grid-row: 2;
  width: 4em;
}


