body {
  background-image: url('background.jpg');
  background-position: center;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
h1 {
  display: none;
}

audio {
  display: none;
}

#d-pad {
  bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  height: 260px;
  width: 260px;
}

.d-pad_button {
  background-color: #0f0f0f;
  border: 3px solid white;
  border-radius: 15px;
  height: 80%;
  margin: 10%;
  width: 80%;
}

#volume-slider {
  bottom: 320px;
  margin-left: 5%;
  position: absolute;
  width: 90%;
}

#volume-slider label {
  display: none;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #cc00cc;
  border-radius: 2px;
  border: 0.2px solid #010101;
}

button:focus {
  outline: none;
}

#button-play {
  bottom: 30px;
  height: 80px;
  position: absolute;
  right: 30px;
  width: 80px;
}

#button-pause {
  display: none;
  bottom: 30px;
  height: 80px;
  position: absolute;
  right: 30px;
  width: 80px;
}

#button-up {
  grid-column: 2;
  grid-row: 1;
}


#button-down {
  grid-column: 2;
  grid-row: 3;
}

#button-left {
  grid-column: 1;
  grid-row: 2;
}

#button-right {
  grid-column: 3;
  grid-row: 2;
}

#button-select {
  border-radius: 50%;
  grid-column: 2;
  grid-row: 2;
}

#button-fix-state {
  border-radius: 50%;
  bottom: 250px;
  font-size: 2em !important;
  height: 35px;
  position: absolute;
  right: 40px;
  width: 35px;
}

